<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Mongo Scraper</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	
        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" >
	</head>
	<body  class="brown lighten-5" >
          <nav class="brown darken-2">
            <div class="nav-wrapper">
                <div class="container">
                    <a href="#" class="brand-logo">Mongo Scraper</a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="sass.html">Home</a></li>
                            <li><a href="badges.html">Saved Articles</a></li>
                            <li><a class="waves-effect waves-light btn deep-purple darken-4 Scrape">Scrape New Articles <i class="material-icons right">add_circle</i></a></li>
                            <li><a class="waves-effect waves-light btn deep-purple darken-4 Clear">Clear Articles <i class="material-icons right">autorenew</i></a></li>
               </div>   
      </ul>
    </div>
  </nav>
    <div class="slider">
    <ul class="slides">
      <li>
        <img class="img-responsive" src="https://assets.skybound.com/wp-content/uploads/2019/08/12165636/dnd-characters-2000x1150.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h1>MONGO SCRAPER</h1>
          <h2 class="light grey-text text-lighten-3">DND Edition</h5>
        </div>
      </li>
      <li>
        <img class="img-responsive" src="https://assets1.ignimgs.com/2019/05/29/dndmobile-br-1559158957902.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h1>CHOOSE WISELY ADVENTURER</h1>
        </div>
      </li>
    </ul>
  </div>

		{{{ body }}}

        <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      
	</body>
<script>
  $(document).ready(function(){
    $('.slider').slider();
  });
  </script>
  </html>