    
    
    <div class="section">
        <h1>ARTICLES</h1>
<ul>
 {{#each article}}
 <div class="row">
     <li>
         <h1>{{this._id}}</h1>
            <h1>{{this.title}}</h1>
            <p>{{this.summary}}</p>
     </li>
 </div>
     {{/each}}
</ul>

    </div>
    
   


        